<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>19/05/06 20:01:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScript.setup()[pri:0, instance:automationTesting.SeleniumTesting.TestScript@1fdc050]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11287177</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>19/05/06 20:01:32</td>   <td>4441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript.launchappurl()[pri:0, instance:automationTesting.SeleniumTesting.TestScript@1fdc050]">launchappurl</td> 
  <td>main@11287177</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>19/05/06 20:02:04</td>   <td>36221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript.testdemo()[pri:1, instance:automationTesting.SeleniumTesting.TestScript@1fdc050]">testdemo</td> 
  <td>main@11287177</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>19/05/06 20:03:16</td>   <td>108072</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScript.closebrowser()[pri:0, instance:automationTesting.SeleniumTesting.TestScript@1fdc050]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11287177</td>   <td></td> </tr>
</table>
